body,
html {
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  background: white;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.col-esq {
  height: 100%;
  padding-top: 2rem;
  background: #463b88;
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 20%;
}

.botoes-col-esq {
  font-size: 1rem;
  font-weight: 500;
  width: 90%;
  padding: 0.5rem 0 0.5rem 1rem;

  cursor: pointer;

  margin-bottom: 30px;
  border-radius: 3px;
  background-color: white;
  display: flex;
}

.botoes-col-esq .div-icone {
  width: 15%;
}

.botoes-col-esq .div-texto {
  width: 85%;
}

.botoes-col-esq:hover {
  font-weight: bold;
  background: #e2e3e4;
}

.col-centro {
  margin-top: 1rem;
  margin-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  width: 85%;
}

.card-centro {
  background-color: #463b88;
  border-radius: 1rem;
  padding: 1.2rem;

  color: white;
}

.col-centro .nome-ong {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;

  /* border-bottom-style: solid; */
}

.col-centro .informacao-ong {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.75rem;

  border-bottom-style: solid;
  border-width: 2px;
}

.col-centro .texto-ong {
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 1.5rem;
}

.col-dir {
  margin-left: auto;
  margin-right: 1rem;

  width: 15%;
}